/* .containerBackground {
  background-color: rgb(255, 145, 71);
  width: 100%;
  height: 91vh;
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  margin: 10px;
  height: 500px;
}

@media only screen and (max-width: 600px) {
  .card {
    background-color: red;
  }
} */