@tailwind base;
@tailwind components;
@tailwind utilities;

.homeContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.childContainer {
  width: fit-content;
  height: 250px;
  margin: 40px;
  font-size: 80px;
  font-weight: 900;
}

.pinkColor {
  color: deeppink;
}
