.container {
  width: 100%;
  height: 100vh;
  background-color: rgb(4, 161, 109);
}

.testingResponsive {
  width: 200px;
  height: 200px;
  background-color: white;
  border-radius: 10px;
}

/* View Width = vw, View Height = vh */
